@import "colors.scss";
@import "topbar.scss";
@import "revealer.scss";

* {
	border: 1px;
	border-radius: 10px;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 4px;
	font-family: "JetBrains Mono Nerd Font";
}
