$foreground: #f5e0dc;
$background: #1e1e2e;
$black: #494d64;
$red: #f26b86;
$green: #a6e3a1;
$yellow: #fad37d;
$blue: #94e2d5;
$cyan: #82e079;
$white: #e8edfc;
$purple: #e8798a;
$accent: #cba6f7;
$orange: #fab387;
