$foreground: #f2d5cf;
$background: #303446;
$black: #838ba7;
$red: #eb4447;
$green: #a6d189;
$yellow: #e3b152;
$blue: #81c8be;
$cyan: #a6d189;
$white: #c6d0f5;
$purple: #ea999c;
$accent: #f4b8e4;
$orange: #ef9f76;
