$foreground: #F8F8F2;
$background: #282A36;
$black: #282A36;
$red: #ff3d3d;
$green: #50fa7b;
$yellow: #eefc49;
$blue: #9098ff;
$cyan: #50fa7b;
$white: #ebdbb2;
$purple: #fc6cc4;
$accent: #9483fc;
$orange: #ffb86c;
