$foreground: #D3C6AA;
$background: #272E33;
$black: #272E33;
$red: #E36264;
$green: #A7C080;
$yellow: #DBB465;
$blue: #57BAAD;
$cyan: #4EBF7C;
$white: #D4CEC1;
$purple: #D94E91;
$accent: #4EBF7C;
$orange: #e69875;
