$foreground: #ebdbb2;
$background: #282828;
$black: #282828;
$red: #fb4934;
$green: #b8bb26;
$yellow: #fabd2f;
$blue: #458588;
$cyan: #689d6a;
$white: #ebdbb2;
$purple: #b16286;
$accent: #b8bb26;
$orange: #fe8019;
