$foreground: #b0c2d7;
$background: #303848;
$black: #303848;
$red: #bf616a;
$green: #a3be8c;
$yellow: #e8c06f;
$blue: #8fbcbb;
$cyan: #91bf69;
$white: #d8dee9;
$purple: #b370a6;
$accent: #be616b;
$orange: #D08770;
