$foreground: #e5e9f0;
$background: #2e3440;
$black: #2e3440;
$red: #bf616a;
$green: #a3be8c;
$yellow: #e8c06f;
$blue: #8fbcbb;
$cyan: #91bf69;
$white: #d8dee9;
$purple: #b370a6;
$accent: #81a1c1;
$orange: #D08770;
